## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
<%namespace name="header" file="base_header.tmpl" import="*"/>
<%namespace name="footer" file="base_footer.tmpl" import="*"/>
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
<link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet"> 
</head>

<main>
<!--[if lt IE 7]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chrome/‎">install Google Chrome</a> to experience this site.</p><![endif]-->

    <header id="site-header">
        <div class="container">
            <a href="/"><h1 class="blog-title heading">${blog_title}</h1></a>
            <p class="blog-description">${blog_description}</p>
	    <nav class="blog-nav" role="navigation">
            	<ul class="navlist">
		        <li class="navelem"><a href="/pages/about/">Über Mich</a></li>
			<li class="navelem"><a href="pages/tipps/">Tipps</a></li>
			<li class="navelem"><a href="/archive.html">Alle Rezepte</li>
		</ul>
            </nav>
        </div>
    </header>
<main class="content" role="main">
	<div class="container">

            <%block name="content"></%block>
    </div>
</main>
         ${footer.html_footer()}
    ${base.late_load_js()}
    <%block name="extra_js"></%block>
    ${body_end}
    ${template_hooks['body_end']()}
</body>
</html>
