## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if posts and (permalink == '/' or permalink == '/' + index_file):
        <link rel="prefetch" href="${posts[0].permalink()}" type="text/html">
    % endif
    ${math.math_styles_ifposts(posts)}
</%block>

<%block name="content">
<%block name="content_header"></%block>
% if 'main_index' in pagekind:
    ${front_index_header}
% endif
% if page_links:
    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
% endif

% for post in posts[0:5]:
<article class="li post">
    <header class="post-header">
        <h3 class="post-title"><a href="${post.permalink()}">${post.title()|h}</a></h3>
        <p class="post-time"><time datetime="${post.formatted_date('webiso')}">${post.formatted_date(date_format)|h}</time></p>
    </header>

    <section class="post-excerpt">
    %if index_teasers:
    ${post.text(teaser_only=True)}
    %else:
    ${post.text(teaser_only=False)}
    %endif
    </section>

    <footer class="post-footer">
        <span>
            % if not post.meta('nocomments') and site_has_comments:
                <p class="commentline">${comments.comment_link(post.permalink(), post._base_path)}
            % endif

            &nbsp;&nbsp;

        </span>
    </footer>
</article>
% endfor

<h2>Vollkornsaskia auf Instagram</h2>
<!-- LightWidget WIDGET -->
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
<iframe src="https://cdn.lightwidget.com/widgets/b6fa9a6ac485583397d20e12a275a500.html"
    scrolling="no" allowtransparency="true"
    class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;">
</iframe>


${helper.html_pager()}
${comments.comment_link_script()}
${math.math_scripts_ifposts(posts)}
</%block>
